<?php 
require_once realpath(__DIR__ . '../../../') . "/vendor/autoload.php";

// Setup some additional prefixes for DBpedia
\EasyRdf\RdfNamespace::set('dbc', 'http://dbpedia.org/resource/Category:');
\EasyRdf\RdfNamespace::set('dbo', 'http://dbpedia.org/ontology/');
\EasyRdf\RdfNamespace::set('dbpedia', 'http://dbpedia.org/property/');
\EasyRdf\RdfNamespace::set('dbr', 'http://dbpedia.org/resource/');
\EasyRdf\RdfNamespace::set('actor', 'https://example.org/schema/actor');
\EasyRdf\RdfNamespace::set('gold', 'http://purl.org/linguistics/gold/');
\EasyRdf\RdfNamespace::set('dbp', 'http://dbpedia.org/property/');
\EasyRdf\RdfNamespace::set('rdf', 'http://www.w3.org/1999/02/22-rdf-syntax-ns#');
\EasyRdf\RdfNamespace::set('rdfs', 'http://www.w3.org/2000/01/rdf-schema#');
\EasyRdf\RdfNamespace::set('foaf', 'http://xmlns.com/foaf/0.1/');

$sparql = new \EasyRdf\Sparql\Client('http://dbpedia.org/sparql');
$sparql_jena = new \EasyRdf\Sparql\Client('http://localhost:3030/Tubes_WS/sparql');

error_reporting(E_ALL & ~E_DEPRECATED);

$originalString = $_GET['actor'];
$convertedString = str_replace('_', ' ', $originalString);
$abstract = 'SELECT ?abstract WHERE {' .
    '?actor rdfs:label "' . $convertedString . '"@en;' .
    'dbo:abstract ?abstract .' .
    'FILTER langMatches (lang(?abstract),"EN").' .
    '}';

$result_abstract = $sparql->query($abstract);

foreach ($result_abstract as $abs) {
    $abstract = $abs->abstract;
}


$q = 'SELECT DISTINCT * WHERE {
    ?actor ' .
    '    rdfs:label "' . $convertedString . '"@en; ' .
    '    dbo:abstract ?abstract; ' .
    '    dbo:wikiPageWikiLink ?wiki; ' .
    '    dbo:birthDate ?birthDate; ' .
    '    dbo:birthPlace ?birthPlace; ' . 
    '    dbp:name ?name. ' . 
    'FILTER langMatches (lang(?abstract),"EN") ' .
    '}';

$result_all = $sparql->query($q);

    if (count($result_all) > 0) {
        $firstResult = $result_all[0]; // Assuming you want the first result

        $actorUri = $firstResult->actor;
        $abstract = $firstResult->abstract;
        $wikiLink = isset($firstResult->wiki) ? $firstResult->wiki : null; // Check if wiki exists

        $birthDate = $firstResult->birthDate;
        $birthPlace = $firstResult->birthPlace;
        $name = $firstResult->name;
        

        if ($wikiLink !== null) {
            \EasyRdf\RdfNamespace::setDefault('og');
            $wiki = \EasyRdf\Graph::newAndLoad($wikiLink);
            $foto_url = $wiki->image;
        } else {
            // Handle the case where wikiLink is undefined
        }
    }

?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css?php echo time(); ?>"/>
    <script src="https://kit.fontawesome.com/e87c4faa10.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1fc4ea1c6a.js" crossorigin="anonymous"></script>
    <title>Actor Profile</title>
</head>

<body class="font-Work transition-colors bg-semiWhite">
    
    <div class="w-full bg-mainColor">
        <?php include './components/navbar.php'?>
    </div>
    <div class="profile-radius bg-mainColor h-[50vh] flex flex-col gap-8 justify-center items-center">
        <img class="rounded-full w-40 h-40 object-cover"
        src="<?= $foto_url ?>" alt="">
        <div class="flex flex-col items-center gap-2 relative w-full">
            <p class="text-4xl text-semiWhite font-bold"><?= $name ?></p>
            <p class="text-xl text-semiWhite opacity-50">Actor</p>
            <p class="text-lg text-semiWhite opacity-50 flex items-center gap-1 cursor-pointer" id="location"><i class="fa-solid fa-location-dot"></i> USA</p>

            <div class="absolute -bottom-40 right-60 bg-transparent justify-end hidden w-[500px]" id="map">
                <div class="bg-semiWhite p-2 shadow-lg rounded-md ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d21227025.39328672!2d-103.285865!3d49.499813!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sIndonesia!5e0!3m2!1sid!2sid!4v1698634959917!5m2!1sid!2sid" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    
    <div class="px-72 py-8 flex flex-col gap-14">
        <div class="gap-4 flex flex-col">
            <div class="text-mainColor flex gap-2 items-center text-3xl">
                <i class="fa-solid fa-grip-lines-vertical gradient-text-light"></i>
                <p class="font-bold">Mini Bio</p>
            </div>
        
            <div class="">
                    <p><?= $abstract ?></p>
            </div>        
        </div>
        
        <div class="gap-4 flex flex-col">
            <div class="text-mainColor flex gap-2 items-center text-3xl">
                <i class="fa-solid fa-grip-lines-vertical gradient-text-light"></i>
                <p class="font-bold">Overview</p>
            </div>
        
            <div class="">
                <div class="border-bottom flex gap-4 h-[50px]">
                    <p class="font-bold">Born</p>
                    <p class="name">June 13, 1981 · <?= $birthPlace ?></p>
                </div>
                <div class="border-bottom flex gap-4 h-[50px]">
                    <p class="font-bold">Birth name</p>
                    <p class="name"><?= $name ?></p>
                </div>
                <div class="border-bottom flex gap-4 h-[50px]">
                    <p class="font-bold">Nickname</p>
                    <p class="name">Cevans</p>
                </div>
                <div class="border-bottom flex gap-4 h-[50px]">
                    <p class="font-bold">Age</p>
                    <p class="name">42</p>
                </div>
                <div class="border-bottom flex gap-4 h-[50px]">
                    <p class="font-bold">Height</p>
                    <p class="name">6′ (1.83 m)</p>
                </div>
            </div>        
        </div>
        
        <div class="gap-4 flex flex-col">
            <div class="text-mainColor flex gap-2 items-center text-3xl">
                <i class="fa-solid fa-grip-lines-vertical gradient-text-light"></i>
                <p class="font-bold">Movies</p>
            </div>

            <div class="">
                <div class="border-bottom flex gap-4 h-[50px] justify-between">
                    <a href="./detail-actor.php" class="font-bold hover:underline">Captain America: The Winter Soldier</a>
                    <p class="name">2014</p>
                </div>

                <div class="border-bottom flex gap-4 h-[50px] justify-between">
                    <a href="./detail-actor.php" class="font-bold hover:underline">The Avengers</a>
                    <p class="name">2012</p>
                </div>

                <div class="border-bottom flex gap-4 h-[50px] justify-between">
                    <a href="./detail-actor.php" class="font-bold hover:underline">Captain America: Civil War</a>
                    <p class="name">2016</p>
                </div>

                <div class="border-bottom flex gap-4 h-[50px] justify-between">
                    <a href="./detail-actor.php" class="font-bold hover:underline">Snowpiercer</a>
                    <p class="name">2013</p>
                </div>

                <div class="border-bottom flex gap-4 h-[50px] justify-between">
                    <a href="./detail-actor.php" class="font-bold hover:underline">Scott Pilgrim vs. The World</a>
                    <p class="name">2010</p>
                </div>

                <div class="border-bottom flex gap-4 h-[50px] justify-between">
                    <a href="./detail-actor.php" class="font-bold hover:underline">Knives Out</a>
                    <p class="name">2019</p>
                </div>

                <div class="border-bottom flex gap-4 h-[50px] justify-between">
                    <a href="./detail-actor.php" class="font-bold hover:underline">Captain America: The First Avenger</a>
                    <p class="name">2011</p>
                </div>

                <div class="border-bottom flex gap-4 h-[50px] justify-between">
                    <a href="./detail-actor.php" class="font-bold hover:underline">Avengers: Endgame</a>
                    <p class="name">2019</p>
                </div>

                <div class="border-bottom flex gap-4 h-[50px] justify-between">
                    <a href="./detail-actor.php" class="font-bold hover:underline">Fantastic Four</a>
                    <p class="name">2005</p>
                </div>

                <div class="border-bottom flex gap-4 h-[50px] justify-between">
                    <a href="./detail-actor.php" class="font-bold hover:underline">Sunshine</a>
                    <p class="name">2007</p>
                </div>
            </div>        
        </div>

        
    </div>
    
    <div class="text-mainColor">
        <?php include './components/footer.php'?>
    </div>

    <script>
        const location = document.getElementById('location');
        const map = document.getElementById('map');

        location.addEventListener('mouseover', () => {
            map.classList.remove('hidden');
        });

        location.addEventListener('mouseout', () => {
            map.classList.add('hidden');
        });
    </script>
    <script src="../js/main.js"></script>
</body>
</html>