<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <script src="https://kit.fontawesome.com/e87c4faa10.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1fc4ea1c6a.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/style.css"/>
    <style>
        .dropdown input:checked + p {
            color: black;
        }
        .dropdownCheck div {
            display: none
        }

        .dropdown input:checked + .dropdownCheck div,
        .dropdown2 input:checked + .dropdownCheck div {
            display: block;
        }

        input[type="text"]:focus {
            outline: none;
        }
    </style>
</head>

<body class="font-Work bg-mainColor text-[#f5f6f8] relative">

    {% include 'components/navbar.html' %}

    <div class="flex flex-col xl:flex-row">
        <div class="flex flex-col gap-6 w-[100%] xl:w-[73%]">
            <!-- Search START -->
            <form action="{{ url_for('process_form') }}" method="get" 
            class="flex gap-2 pl-8 px-8 lg:px-5 pt-2 md:pt-10 w-full items-center">
                <div class="relative w-full">
                    <input type="text" name="search" placeholder="Search..." autocomplete="off"
                    class="rounded-md text-[#f5f6f8] h-10 px-4 py-1 w-[100%] bg-lightGray">

                    <button type="submit" 
                    class="bg-gradient-to-r from-pink-600 to-purple-600 font-semibold text-lg px-3 py-1 rounded-md items-center justify-center h-10 w-fit absolute right-0 top-0 hidden xl:flex">
                        Search
                    </button>

                    <button type="submit" 
                    class="bg-gradient-to-r from-pink-600 to-purple-600 font-semibold text-lg px-3 py-1 rounded-md flex items-center justify-center h-10 w-fit absolute right-0 top-0 xl:hidden">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
            <!-- Search END -->

            <!-- CONTENT START -->
            <div class="flex flex-col px-8 md:px-0 md:pl-9 gap-6">
                <div class="flex justify-between w-full items-center">
                    <p class="text-xl md:text-3xl font-semibold relative -z-10">Showing result for "{{ desc }}"</p>
                </div>
                <div class="flex w-[100%] flex-wrap gap-y-6 gap-x-4">
                    <!--  -->
                    {% for movie in data.movie_filter %}
                    <a href="{{ url_for('movie_detail', moviename=movie.moviename) }}" class="w-[98px] md:w-[180px] xl:w-[200px] relative z-2">
                        <div class="h-[145px] md:h-[275px] xl:h-[300px] w-full bg-black overflow-hidden flex items-center mb-2 rounded-md shadow-md">
                            <img src="{{ movie.image_url }}" alt="" class="w-full">
                        </div>
                        <div class="min-h-16 h-fit max-w-full">
                            <div class="flex text-xs md:text-sm gap-2 mb-2">
                                <p class="border border-1 border-semiWhite px-1 rounded-md">{{ movie.year }}</p>
                                <p class="border border-1 border-semiWhite px-1 rounded-md">{{ movie.category }}</p>
                            </div>
                            <p class="text-xs md:text-base font-semibold uppercase">{{ movie.moviename }}</p>
                        </div>
                        <p class="absolute -top-2 left-1/2 transform -translate-x-1/2 bg-green-600 px-2 rounded-full font-semibold">{{ movie.rating }}</p>
                    </a>
                    {% endfor %}
                    <!--  -->       
                </div>
            </div>
        </div>
        <!-- CONTENT END -->

        <!-- RECENTLY UPDATED START -->
        <div class="w-[100%] xl:w-[27%] h-fit xl:h-[100vh]">
            <div class="py-10 pl-8 xl:pl-0 pr-8 w-full h-full flex flex-col gap-6">
                <div class="flex gap-2 items-center">
                    <i class="gradient-text-light text-2xl fa-solid fa-rss"></i>
                    <p class="font-bold text-2xl">RECENTLY UPDATED</p>
                </div>
                <div class="h-fit xl:h-[100vh] w-full rounded-md">
                    <!--  -->
                    {% for movie in data.popular_movie %}
                    <a href="{{ url_for('movie_detail', moviename=movie.moviename) }}" class="flex h-[80px] w-full gap-2 bg-lightGray rounded-md mb-4 overflow-hidden hover:bg-darkGray transition-colors duration-200 ease-in-out">
                        <img src="{{ movie.image_url }}" height="80" alt="">

                        <div class="flex flex-col justify-center">
                            <p class="font-light text-sm opacity-50">{{ movie.rating }} / 
                                {{ movie.genre }} /
                                {{ movie.category }}</p>
                            <p class="font-semibold">{{ movie.moviename }}</p>
                        </div>
                    </a>
                    {% endfor %}
                    <!--  -->  
                </div>
            </div>
        </div>
        <!-- RECENTLY UPDATED END -->
    </div>
    
    <div class="text-semiWhite">    
        {% include 'components/footer.html' %}
    </div>

    <script src="../static/js/main.js"></script>
</body>

</html>