<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Movie</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/style.css"/>
  </head>
  <body class="font-Work transition-colors bg-[#f5f6f8] dark:bg-mainColor relative">

    <!-- CURSOR TRACKING CIRCLE -->
    <!-- <div id="circle" class="circle dark:shadow-custom dark:border-custom dark:border-2 animate-colorChange transition-colors duration-500"></div> -->
    <!-- CURSOR TRACKING CIRCLE -->
    
    <!-- NAVBAR START -->
    <nav
      class="pt-6 px-8 bg-transparent fixed text-mainColor dark:text-white flex justify-between items-center w-full z-50"
    >
      <p class="text-2xl font-bold gradient-text-light unselectable">MOVΛ</p>

      <div class="flex gap-8 font-normal text-black dark:text-[#d1d5db]">
        <a href="{{ url_for('display_rdf_data') }}" class="relative inline-block hover:before:w-full before:block before:bg-black dark:before:bg-[#d1d5db] before:absolute before:inset-x-0 before:left-0 before:bottom-[-2px] before:w-0 before:h-[1px] before:transition-width before:duration-300">Explore</a>
      </div>

    </div>

    </nav>
    <!-- NAVBAR END -->

    <!-- CONTENT START -->
    <main class="h-screen flex items-center justify-center relative">
      <div class="flex flex-col gap-8 md:gap-16 justify-center items-center h-screen text-center">
        <h1 class="text-3xl md:text-5xl font-light w-[80vw] sm:w-[500px] gradient-text-dark unselectable" id="headerText">Stop wasting your time. <br> Find the best movie to watch here.</h1>
        
        <div class="relative">
            <div
              class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 blur rounded-full animate-gradient">    
            </div>
          <form action="{{ url_for('process_form') }}" method="get">
            <input type="text" name="search" id="" autocomplete="off"
            class="relative z-10 px-7 py-4 w-[80vw] sm:w-[500px] text-mainColor dark:text-[white] bg-white dark:bg-mainColor rounded-full leading-none flex items-center focus:dark:stroke-none font-medium placeholder-opacity-0 sm:placeholder-opacity-100 placeholder:dark:font-light transition duration-200 ease-in-out focus:outline-none" placeholder="Yaksha: Ruthless Operations">
            </input>
            <button type="submit" class="absolute right-4 top-3 z-20">
              <svg xmlns="http://www.w3.org/2000/svg" class="dark:text-[#d1d5db]  icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                <path d="M21 21l-6 -6"></path>
              </svg>
            </button>
            <!-- <div class="absolute w-16 h-16 border-1 border top-0 left-1/2 rounded-full animate-scale -z-10 bg-mainColor"></div> -->
          </form>
        </div>

      </div>
    </main>
    <!-- CONTENT END -->

  <script src="../js/main.js"></script>
  </body>
</html>
